
body {
    width: 100svw;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: grid;
    list-style: none;
    width: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px;
    gap: 5px;
}

li {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 8px;
}

.screens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 600px;
    border: solid black 1px;
    height: 70px;
    border-radius: 8px;
}

.screens > div {
    height: 30px;
    padding-top: 10px;
    padding-right: 10px;
}


