body {
    width: 100%;
    margin: 0;
}

section > * {
    padding-left: 100px;
}

section {
    width: 100%;
    padding-top: 12px;
}

img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > div {
    display: flex;
    flex-direction: row;
}

header > div > img {
    width: 50px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav > ul > li {
    padding: 5px;
}

nav > ul > li:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#sel {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, orange , purple);
}

#sel > div > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#hero {
    background-image: url("./asserts/images/cherrydeck-UpsEF48wAgk-unsplash.jpg");
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

#hero > div > div :first-child, #about_us > div > button {
    background-image: linear-gradient(to right, orange , purple);
}

#our_services {
    margin-bottom: 30px;
}

#our_services > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    
}

.service > div {
    background-image: linear-gradient(to right, orange , white);
}

.service > div > img {
    border-radius: 25px;
}

.service {
    position: relative;
    cursor: pointer;
}

.service > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    /* border: solid black 1px; */
    width: fit-content;
    padding: 0px 10px 0px 10px;
    position: absolute;
    bottom: -5%;
    right: 0%;
    background-color: white;
}

button {
    padding: 10px;
    border-radius: 20px;
    /* border: none; */
    background:none;
    color: white;
    cursor: pointer;
}

#hero p, #hero h2, #hero h4, #sel p, #sel h5 {
    color: white;
}

.icon {
    height: 30px;
    width: 30px;
    border: solid white 1px;
    border-radius: 20px;
    padding: 5px;
    filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(5%) hue-rotate(267deg) brightness(101%) contrast(102%);
}

#about_us {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 10px;
}

#about_us > * {
    padding-left: 0%;
}

#about_us > div {
    padding-left: 100px;
}

#search {
    background-color: black;
}
#search > img {
    border: none;
    /* filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(219deg) brightness(99%) contrast(101%); */
}