html {
    width: 100vw;
}

section {
    width: 100%;
}

img {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header > div {
    display: flex;
    flex-direction: row;
}

nav > ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#sel {
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to right, orange , purple);
}

#hero {
    background-image: url("./asserts/images/cherrydeck-UpsEF48wAgk-unsplash.jpg");
    height: 250px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

#hero > div > div :first-child, #about_us > div > button {
    background-image: linear-gradient(to right, orange , purple);
}

.service > div > img {
    background-image: linear-gradient(to right, orange , purple);
}